@model ApsRedes.Models.Match

@{
    ViewBag.Title = "TicTacToeLobby";
}

<h2>TicTacToe</h2>

<table class="table">
    <tr>
        <td>
            @Html.DisplayFor(model => model.p1.name)
        </td>
        <td>
            @Html.DisplayFor(model => model.p1.mark)
        </td>
        <td>
            @Html.DisplayFor(model => model.p2.name)
        </td>
        <td>
            @Html.DisplayFor(model => model.p2.mark)
        </td>
    </tr>
</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @using( Html.BeginForm( "Board", "TicTacToe", null, FormMethod.Get ) )
        {
            <button type="submit"> Play </button>
        }
    </div>
</div>