@model ApsRedes.Models.Match

@{
    ViewBag.Title = "TicTacToeLobby";
}

<h2>TicTacToe</h2>

<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Mark
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.p1.name)
        </td>
        <td>
            @Html.DisplayFor(model => model.p1.mark)
        </td>
        <td>
            @Html.DisplayFor(model => model.p2.name)
        </td>
        <td>
            @Html.DisplayFor(model => model.p2.mark)
        </td>
    </tr>
</table>