
@{
    ViewBag.Title = "Index";
}

<h2>Guilherme(21002514)</h2>

<br />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @using (Html.BeginForm("AddPlayer", "Game", null, FormMethod.Get))
        {
            <button type="submit"> Start </button>
        }
    </div>
</div>
